@font-face {
  font-family: 'iconfont';  /* project id 616888 */
  src: url('//at.alicdn.com/t/font_616888_n1iweslv0z7x2yb9.eot');
  src: url('//at.alicdn.com/t/font_616888_n1iweslv0z7x2yb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_616888_n1iweslv0z7x2yb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_616888_n1iweslv0z7x2yb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_616888_n1iweslv0z7x2yb9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// 营收icon
.hs-icon-yingshou:before { content: "\e603"; }
// 流量icon
.hs-icon-flow:before { content: "\e602"; }
// 交易icon
.hs-icon-transation:before { content: "\e600"; }
// 客户icon
.hs-icon-customer:before { content: "\e601"; }
// 向右箭头
.hs-icon-you:before { content: "\e636"; }
// 叉叉
.hs-icon-cha:before { content: "\e617"; }